/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #cdf2f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header */
header {
    width: 100%;
    height: 250px;
    background-color: #73c4d2;
    position: fixed;
    z-index: 100;
    /* Garante que o cabeçalho fique sobre outros elementos */
}

#topo {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 50px 100px 0px 100px;
}

#marca img {
    position: relative;
    top: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #000;
}

#marca h1 {
    color: #fff;
    position: relative;
    top: -120px;
    left: 175px;
    font-size: 60px;
}

/* menu */
#menu {
    display: flex;
    position: relative;
    right: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* background-color: #ccc; */
    width: 200px;
}

#redes {
    position: relative;
    top: 25px;
}

#redes img {
    width: 50px;
    height: 50px;
}

#redes a {
    text-decoration: none;
}

#redes ul {
    list-style: none;
    display: flex;
}

#redes ul li {
    padding: 0 10px;
}

/* links */
nav {
    position: relative;
    /* top: 20px; */
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    margin-left: 10px;
}

nav ul li a {
    padding: 5px 10px;
    color: white;
    background-color: #0149ff;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: #0149ff;
    background-color: white;
}

/* banner */
#banner {
    position: relative;
    top: 250px;
    width: 100%;
    height: 650px;
    margin-bottom: 250px;

    /* Estilização para o texto dentro da div */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parallax {
    /* camada */
    z-index: 5;

    /* cor de fundo com transparência */
    background-color: rgba(0, 0, 0, .5);

    /* A imagem de fundo */
    background-image: url("../img/banner.jpg");

    /* O efeito parallax! */
    background-attachment: fixed;

    /* Garante que a imagem cubra toda a div */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;


}

#banner h2 {
    /* color: #73c4d2; */
    color: #fff;
    text-shadow: #000 5px 5px 10px;
    font-size: 3em;
}

#banner h4 {
    /* color: #fff; */
    color: #73c4d2;
    font-size: 1.75em;
}

/* sobre */
#sobre {
    background-color: #eee;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 300px;
    transition: box-shadow 0.5s ease;
    text-align: center;
}

#sobre img {
    width: 100px;
}

#sobre h3 {
    margin: 20px 0 10px 0;
    color: #73c4d2;
}

#sobre h4 {
    color: #999;
    font-size: 20px;
}

/* quemsou */
#quemsou {
    background-color: #cdf2f7;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 25%;
}

#quemsou img {
    position: relative;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #000;
}

.quem {
    position: relative;
    padding: 30px;
    width: 300px;
    text-align: center;
    animation-name: entraesq;
    animation-duration: 5s;
    animation-delay: 5s;
}

@keyframes entraesq {
    0% {
        left: -3000px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

#dados {
    position: relative;
    animation-name: entradir;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes entradir {
    0% {
        right: -3000px;
        top: 0px;
    }

    100% {
        right: 0px;
        top: 0px;
    }
}

#quemsou h2 {
    font-size: 30px;
    color: #0149ff;
}

#quemsou p {
    font-size: 20px;
    color: #999;
}

/* aulas */
#aulas {
    position: relative;
    width: 100vw;
    height: 400px;
    background-image: url("../img/contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 150px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.iw1 {
    position: relative;
    width: 50%;
}

#aulas img {
    float: left;
    margin-right: 30px;
    margin-bottom: 100px;
}

#aulas h2 {
    font-size: 4em;
    color: #0149ff;
    margin-bottom: 30px;
}

#aulas p {
    font-size: 2em;
    color: #fff;
}

/* botão topo */
#botao {
    width: 60px;
    position: fixed; 
  right: 20px;          
  bottom: 20px;         
  
  background: lightblue;
  padding: 10px;
}

#divisor {
    height: 100px;
}
#formulario {
    margin-top: -150px;
    background-color: #ffffff;
    padding: 100px 0;
    font-size: 24px;
}

#formulario h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 140, 255);
    text-align: center;
}

form {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}

fieldset {
    background-color: #eeeeee;
    border: 1px solid #777;
    padding: 25px;
    border-radius: 20px;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

label {
    font-weight: bold;
}

input {
    margin: 5px;
    border: 1px solid #777;
    font-size: 24px;
}

textarea,
select {
    border: 1px solid #777;
    font-size: 24px;
}

input[type=submit] {
    padding: 10px 15px;
    background-color: green;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: #ffffff;
}

input[type=reset] {
    padding: 10px 15px;
    background-color: cyan;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid blue;
}
/* localização */
#localizacao {
    background-color: #555;
    padding: 50px 250px;
    font-size: 24px;
}

#localizacao iframe {
    width: 400px;
    height: 200px;
    float: left;
    margin-right: 50px;
}

#local h3 {
    text-align: left;
}

#local p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}
